@model StarPractice.Models.PeopleViewModel

@{
    ViewData["Title"] = "ViewAll";
}

<h1>View All</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>Planet Name</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var people in Model.People)
            {
                <tr>

                    <td>

                        <a asp-controller="Starwars" asp-action="ViewAPerson" asp-route-url="@people.Url">@people.Name</a>



                    </td>


                </tr>
            }
        </tbody>
    </table>


</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back Main Page</a>

</div>